* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background:
    linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.main {
  margin: 0 auto;
    margin-top: 10vh;
  width: 700px;
  font-size: 2rem;
  line-height: 3rem;
}

nav{
  width: 50vw;
  margin: 0 auto;
  margin-top: 10vh;
}

ul{
  display:flex;
  list-style: none;
  justify-content: space-between;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
  background: rgba(0, 0, 0, 0.05);
  padding: 10px;
  border-radius: 30px;
}

.highlight {
  background: white;
  border-radius: 30px;
  display:block;
  z-index: -1;
  position: absolute;
  left:0;
  top:0;
  transition: all 0.3s;

}
